:root {
  --blue: blue;
  --red: red;
  --yellow: yellow;
  --green: green;
  --font-small: 30px;
}


.box{  
    width: 100px;
    height: 100px;
}
.main-box{
  padding: 50px;
}
.first-box{
  display: grid;
  justify-content: start;
  max-width: 200px;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  position: relative;
}

.hi-message{
  font-size: var(--font-small);
}

.first-box span {
  position: absolute;
  top: 40%;
  z-index: 0;
  left: 45%;
  mix-blend-mode: color-dodge;
}
.red {
    background-color: var(--red);
    transform-origin: top left;
}

.yellow{
    background-color: var(--yellow);
    transform-origin: top right;
}

.blue{
    background-color: var(--blue);
    transform-origin: bottom left;
}

.green{
    background-color: var(--green);
    transform-origin: bottom right;
    
}

.first-box .box{
    -webkit-transition: -webkit-transform 1s ease-in;
}

.first-box:hover .box.green,
.first-box:hover .box.red {
  transform: rotate(90deg);
}
.first-box:hover .box.blue,
.first-box:hover .box.yellow {
  transform: rotate(-90deg);
}